* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
    
}
body {
    font-family: Helvetica Neue, Arial;
    font-size: 18px;
}

h1, h2{
    color:#01982f;    
    
}

h1 {
    font-size: 40px; 
    margin-bottom: 25px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}


.main-text{
    text-align: justify;
    color:red;
    margin-bottom: 20px;
}

.author-texts{
    font-size: 23px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    
}
.container {
    width: 1140px;
    margin: 30px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-post {
    
    width: 25%;
    float: left;
}

.author-post {
    padding-top: 20px;
    border-top: 1px solid #808080;
    
}

.posts {
    margin-bottom: 30px;
}

.author-post img {
    height: 100px;
    width: 100p;
    border-radius: 50%;
    float: left;
}
.blog-post img {
    height: 150px;
    width: auto;
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;
    
}
